<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My First Website ever</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="text-align: center;">

  <h1> Add Activity </h1> 

  <br>
  <br>
  <br>


  <!-- <form action="/add" method = "POST">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date">
    </div>

    <div class="mb-3">

      <input class ="form-control" type = "radio" id = "category_gate" name = "category" value="gate">
      <label for="category_gate">GATE</label>
      <input class ="form-control" type = "radio" id = "category_rest" name = "category" value="rest">
      <label for="category_rest">Rest</label>

    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   -->

   <div class="container">


    <form action="/add" method = "POST">

      <div class="row">
        <div class="col">
          <input  type = "date" id = "date" name = "date"  placeholder="Date">
        </div>
      </div>
      <!-- <input  type = "text" id = "task" name = "task" autofocus placeholder="Task"> -->
  
      <br>


      <div class="row">
        <div class="col">
          <label for="task" class="form-label">Task</label>
          <textarea class="form-control" id="task" name="task" rows="3"></textarea>
        </div>
      </div>

     
  
      <br>
  
      <input type = "radio" id = "category_gate" name = "category" value="gate">
      <label for="category_gate">GATE</label>
      <input type = "radio" id = "category_rest" name = "category" value="rest">
      <label for="category_rest">Rest</label>
      
      <br>
      <br>
  
      <label for="subject">Choose a subject(If GATE)</label>
      <select id="subject" name="subject">
        <option value="others">Others</option>
        <option value="Maths">Maths</option>
        <option value="tocandcd">TOC and CD</option>
        <option value="os">OS</option>
        <option value="cn">Computer Networks</option>
        <option value="dbms">DBMS</option>
        <option value="dsa">DataStructures and Algorithms</option>
        <option value="cprog">C Programming</option>
        <option value="digital">Digital Logic and Design</option>
        <option value="co">Computer Organization</option>
      </select>
  
      <br>
      <br>
  
      <input  type = "number" id = "hours" name = "hours" placeholder="hours">
  
      <br>
      <br>
  
      <input type = "submit" value="Add">
    </form>


   </div>
    
  


  <br>
  <br>

  <a href="/">Home</a>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
